body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	background: #CDCDCD;
}

header {
	height: 50px;
	background: #333;
	background: rgba(47, 47, 47, 0.98);

	input {
		float: right;
		width: 60%;
		height: 24px;
		margin-top: 12px;
		text-indent: 10px;
		border-radius: 5px;
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.24), 0 1px 6px rgba(0, 0, 0, 0.45) inset;
		border: none
	}
}

section {
	margin: 0 auto;
	position: relative;
}

label {
	float: left;
	width: 100px;
	line-height: 50px;
	color: #DDD;
	font-size: 24px;
	cursor: pointer;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


input:focus {
	outline-width: 0
}

h2 {
	position: relative;
}

span {
	position: absolute;
	top: 2px;
	right: 5px;
	display: inline-block;
	padding: 0 5px;
	height: 20px;
	border-radius: 20px;
	background: #E6E6FA;
	line-height: 22px;
	text-align: center;
	color: #666;
	font-size: 14px;
}

ol,
ul {
	padding: 0;
	list-style: none;
}


p {
	margin: 0;
}


li {
	height: 32px;
	line-height: 32px;
	background: #fff;
	position: relative;
	margin-bottom: 10px;
	padding: 0 45px;
	border-radius: 3px;
	border-left: 5px solid #629A9C;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);

	input {
		position: absolute;
		top: 2px;
		width: 22px;
		height: 22px;
		cursor: pointer;
	}

	p {
		input {
			top: 3px;
			left: 40px;
			width: 70%;
			height: 20px;
			line-height: 14px;
			text-indent: 5px;
			font-size: 14px;
		}
	}
	span {
		position: absolute;
		top: 2px;
		right: 5px;
		display: inline-block;
		height: 16px;
		border-radius: 14px;
		border: 6px double #FFF;
		background: rgb(248, 1, 1);
		line-height: 16px;
		text-align: center;
		color: #FFF;
		font-weight: bold;
		font-size: 14px;
		cursor: pointer;
	}
}

ol li {
	cursor: move;
}

ul li {
	border-left: 5px solid #999;
	opacity: 0.5;
}

button {
	float: right;
	margin: 0 3%;
}

.line {
	text-decoration: line-through;
	background-color: #999;
}

.done-underway-check {
	left: 10px;
}

.recycle-check {
	right: 0;
}

.delete-line {
	position: absolute;
	width: 90%;
	height: 1px;
	background-color: #000;
	left: 0;
	top: 50%;
	z-index: 1;
}

.disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

footer {
	margin: 0 auto;
	position: relative;
	button {
		background-color: #088cba;
		margin: 0 2%;
		outline: none;
	}
}


@media screen and (max-device-width: 620px) {
	section {
		width: 96%;
		padding: 0 2%;
	}

	footer {
		width: 96%;
		padding: 0 2%;
	}
}

@media screen and (min-width: 620px) {
	section {
		width: 600px;
		padding: 0 10px;
	}

	footer {
		width: 600px;
		padding: 0 10px;
	}
}